@font-face {
    font-family: 'Druk';
    src: url('Druk-Heavy.woff2') format('woff2'),
        url('Druk-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

